:root {
  --body-bg: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-bg);
}

.set-bg {
  background-color: azure;
}

.heading {
  margin: 0;
  padding: 20px;
  font-size: 25px;
  color: brown;
}

.set-dimeansions {
}

.selector {
  margin: 0;
  padding: 20px;
  font-size: 18px;
  color: brown;
  font-weight: bold;
}

.action-content {
  margin: 0;
  padding: 10px 20px;
  font-size: 18px;
  color: black;
  cursor: pointer;
}

.note {
  font-weight: bold;
  font-size: small;
  color: chocolate;
}

/* hover pseudo class */

.apply-hover:hover {
  color: blueviolet;
}

.apply-active:active {
  color: red;
  background-color: aquamarine;
}

.apply-empty p:empty {
  width: 100px;
  height: 20px;
  background: darkcyan;
}

.apply-diabled:disabled {
  border: 2px solid violet;
  background-color: #cafafe;
}

.apply-enabled:enabled {
  border: 2px solid teal;
}

.apply-focus:focus {
  border: 5px solid brown;
  background-color: cyan;
  color: brown;
}

.apply-checked:checked {
  box-shadow: 1px 1px 10px 5px coral;
  border: none;
}

.apply-first-child :first-child {
  background-color: blanchedalmond;
  color: blue;
}

.apply-in-range {
  outline: none;
}

.apply-in-range:in-range {
  background-color: green;
  border: none;
}

.apply-out-of-range:out-of-range {
  background-color: red;
  border: none;
}

.apply-valid:valid {
  background-color: green;
}

.apply-invalid:invalid {
  background-color: coral;
}

.apply-first-of-type:first-of-type {
  background-color: aquamarine;
  color: blueviolet;
}

.box::before {
  content: "<";
}

.box {
  height: 100px;
  width: 200px;
  background-color: aqua;
  margin: 20px;
}

.box::after {
  content: ">";
}

.apply-first-line::first-line {
  color: coral;
}

.apply-first-letter::first-letter {
  color: blueviolet;
  font-size: 25px;
}

.apply-mark ::marker {
  color: teal;
  background-color: aquamarine;
  font-size: 30px;
  font-weight: bold;
}

.apply-selection::selection {
  color: blueviolet;
  background-color: blanchedalmond;
}

.apply-link:link {
  background-color: crimson;
  color: white;
}
.apply-visited:visited {
  color: cornflowerblue;
  background-color: antiquewhite;
}

.apply-lang p:lang(en) {
  background-color: antiquewhite;
  color: blue;
}

.apply-last-child li:last-child {
  background-color: aqua;
  color: red;
}

.apply-last-of-type li:last-of-type {
  background-color: aqua;
  color: red;
}

::placeholder {
  color: black;
}

.apply-required:required {
  background-color: red;
}

.apply-read-only:read-only {
  background-color: gray;
}

.apply-read-write:read-write {
  background-color: green;
}

.apply-optional:optional {
  background-color: blanchedalmond;
}

.apply-not :not(p) {
  background-color: blue;
}

.apply-nth-child li:nth-child(3) {
  background-color: blue;
}

.apply-nth-last-child li:nth-last-child(2) {
  background-color: red;
}

input:only-of-type {
  font-size: 30px;
}

/* End of styles */
